In [1]:
## Import libraries to read dataset named Loan Default
## Import proper statistical library
import statistics
import pandas as pd
import pandasql as ps

In [2]:
df=pd.read_csv('Loan_Defaults.csv')
df.head()

,UNIQUEID,DISBURSED_AMOUNT,ASSET_COST,LTV,BRANCH_ID,SUPPLIER_ID,MANUFACTURER_ID,CURRENT_PINCODE_ID,DATE_OF_BIRTH,EMPLOYMENT_TYPE,...,SEC_CURRENT_BALANCE,SEC_SANCTIONED_AMOUNT,SEC_DISBURSED_AMOUNT,PRIMARY_INSTAL_AMT,SEC_INSTAL_AMT,NEW_ACCTS_IN_LAST_SIX_MONTHS,DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS,AVERAGE_ACCT_AGE,CREDIT_HISTORY_LENGTH,NO_OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,01-01-1974,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-1985,Self employed,...,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-1995,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,01-06-1973,Self employed,...,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,01-06-1972,Salaried,...,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112392 entries, 0 to 112391
Data columns (total 40 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UNIQUEID                             112392 non-null  int64
 1   DISBURSED_AMOUNT                     112392 non-null  int64
 2   ASSET_COST                           112392 non-null  int64
 3   LTV                                  112392 non-null  float64
 4   BRANCH_ID                            112392 non-null  int64
 5   SUPPLIER_ID                          112392 non-null  int64
 6   MANUFACTURER_ID                      112392 non-null  int64
 7   CURRENT_PINCODE_ID                   112392 non-null  int64
 8   DATE_OF_BIRTH                        112392 non-null  object
 9   EMPLOYMENT_TYPE                      108949 non-null  object
 10  DISBURSAL_DATE                       112392 non-null  object
 11  STATE_ID                             112392 non-null  int64
 12  EMPLOYEE_CODE_ID                     112392 non-null  int64
 13  MOBILENO_AVL_FLAG                    112392 non-null  int64
 14  AADHAR_FLAG                          112392 non-null  int64
 15  PAN_FLAG                             112392 non-null  int64
 16  VOTERID_FLAG                         112392 non-null  int64
 17  DRIVING_FLAG                         112392 non-null  int64
 18  PASSPORT_FLAG                        112392 non-null  int64
 19  PERFORM_CNS_SCORE                    112392 non-null  int64
 20  PERFORM_CNS_SCORE_DESCRIPTION        112392 non-null  object
 21  PRI_NO_OF_ACCTS                      112392 non-null  int64
 22  PRI_ACTIVE_ACCTS                     112392 non-null  int64
 23  PRI_OVERDUE_ACCTS                    112392 non-null  int64
 24  PRI_CURRENT_BALANCE                  112392 non-null  int64
 25  PRI_SANCTIONED_AMOUNT                112392 non-null  int64
 26  PRI_DISBURSED_AMOUNT                 112392 non-null  int64
 27  SEC_NO_OF_ACCTS                      112392 non-null  int64
 28  SEC_ACTIVE_ACCTS                     112392 non-null  int64
 29  SEC_OVERDUE_ACCTS                    112392 non-null  int64
 30  SEC_CURRENT_BALANCE                  112392 non-null  int64
 31  SEC_SANCTIONED_AMOUNT                112392 non-null  int64
 32  SEC_DISBURSED_AMOUNT                 112392 non-null  int64
 33  PRIMARY_INSTAL_AMT                   112392 non-null  int64
 34  SEC_INSTAL_AMT                       112392 non-null  int64
 35  NEW_ACCTS_IN_LAST_SIX_MONTHS         112392 non-null  int64
 36  DELINQUENT_ACCTS_IN_LAST_SIX_MONTHS  112392 non-null  int64
 37  AVERAGE_ACCT_AGE                     112392 non-null  object
 38  CREDIT_HISTORY_LENGTH                112392 non-null  object
 39  NO_OF_INQUIRIES                      112392 non-null  int64
dtypes: float64(1), int64(33), object(6)
memory usage: 34.3+ MB

In [4]:
df['CREDIT_HISTORY_LENGTH'].value_counts()

0yrs 0mon      58051
0yrs 6mon       2695
0yrs 7mon       2226
2yrs 1mon       2187
2yrs 0mon       1929
               ...
23yrs 8mon         1
18yrs 11mon        1
21yrs 0mon         1
25yrs 8mon         1
16yrs 11mon        1
Name: CREDIT_HISTORY_LENGTH, Length: 252, dtype: int64

In [5]:
## Calculate Mean, Median, Mode, and Standard Deviation of the amount of Loan disbursed in the column named disbursed_amount.
# Explain your findings for a value of your choice

df['DISBURSED_AMOUNT'].mean()

56076.80326891594

In [6]:
df['DISBURSED_AMOUNT'].median()

55359.0

In [7]:
df['DISBURSED_AMOUNT'].mode()

0    53303
dtype: int64

In [8]:
statistics.stdev(df['DISBURSED_AMOUNT'])

13123.69762745021

In [9]:
## Write a SQL query to calculate the mean of the variable disbursed_amount. Let the table be loan_defaults.
# These conditions applies to the query results:  for the salaried segment who have the time since their first loan been over 9 years

In [10]:

q1 = """SELECT AVG(DISBURSED_AMOUNT) FROM df """

print(ps.sqldf(q1, locals()))

   AVG(DISBURSED_AMOUNT)
0           56076.803269

In [11]:
df['CREDIT_HISTORY_LENGTH'].str.index('')

0         0
1         0
2         0
3         0
4         0
         ..
112387    0
112388    0
112389    0
112390    0
112391    0
Name: CREDIT_HISTORY_LENGTH, Length: 112392, dtype: int64

In [12]:
df['Years']=df["CREDIT_HISTORY_LENGTH"].str.extract("(\d+)yrs")

In [13]:
df['Years'].value_counts()

0     72562
1     12524
2     10658
3      5610
4      3555
5      2263
6      1366
7       906
8       698
11      464
10      464
9       463
12      348
13      190
14      115
15       82
16       46
17       21
19       13
18       12
21       10
20        8
25        5
22        3
24        2
23        2
37        1
33        1
Name: Years, dtype: int64

In [14]:
df['Years']=df['Years'].astype(int)

In [15]:
q2 = """SELECT EMPLOYMENT_TYPE,CREDIT_HISTORY_LENGTH FROM df WHERE EMPLOYMENT_TYPE =='Salaried' and  years > 9 """

print(ps.sqldf(q2, locals()))

    EMPLOYMENT_TYPE CREDIT_HISTORY_LENGTH
0          Salaried            10yrs 5mon
1          Salaried           12yrs 11mon
2          Salaried            10yrs 1mon
3          Salaried           10yrs 11mon
4          Salaried           10yrs 11mon
..              ...                   ...
785        Salaried            11yrs 4mon
786        Salaried           13yrs 10mon
787        Salaried            11yrs 0mon
788        Salaried           10yrs 11mon
789        Salaried            11yrs 2mon

[790 rows x 2 columns]